/**
 * Vertical Grid CSS
 * Created by @rozboris in 2014
 * Inspired by Gridpak (http://gridpak.com, @erskinedesign)
 */
.vg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0;
  /*Fixing the space between inline-blocks bug :(*/
}
.vg-row-1 {
  height: 8.05833333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-2 {
  height: 16.41666667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-3 {
  height: 24.775%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-4 {
  height: 33.13333333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-5 {
  height: 41.49166667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-6 {
  height: 49.85%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-7 {
  height: 58.20833333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-8 {
  height: 66.56666667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-9 {
  height: 74.925%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-10 {
  height: 83.28333333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-11 {
  height: 91.64166667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-row-12 {
  height: 100%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-1 {
  width: 8.05833333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-2 {
  width: 16.41666667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-3 {
  width: 24.775%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-4 {
  width: 33.13333333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-5 {
  width: 41.49166667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-6 {
  width: 49.85%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-7 {
  width: 58.20833333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-8 {
  width: 66.56666667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-9 {
  width: 74.925%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-10 {
  width: 83.28333333%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-11 {
  width: 91.64166667%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-column-12 {
  width: 100%;
  margin-left: 0.3%;
  margin-top: 0.3%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  padding: 0 0;
}
.vg-first-column {
  margin-left: 0;
}
.vg-first-row {
  margin-top: 0;
}
